page-office-visits {
  
    .data-item{
        line-height: 30px;

        :first-child {
            width:100px;
            margin-right: 10px;
            color: #747474;
            text-align: end;
        }
        
        :last-child {

        }

    }
}
