page-history {
    .headerIcon-open {
        font-size: 3.0em;
        float: right;
        color: #000000;
    }
    .headerIcon {
        font-size: 3.0em;
        float: right;

    }
    .submitButtonWrapper{
        padding: 8px;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #000000;
        padding: 0px;
        background-color: #eef1f0;
    
    }
    .cardContent{
        padding: 10px
    }
    .headerButton{
        float: right;
    }
    .fab {
        contain: layout;
    }
    
    .ion-content{
        background-color: #fdfdfd;
    }

    .data-item{
        line-height: 30px;

        :first-child {
            width:100px;
            margin-right: 10px;
            color: #747474;
            text-align: end;
        }
        
        :last-child {

        }

    }

    @media (max-width: 576px) {
        .hidden-sm-down {
          display: none !important;
        }
      }

    @media (min-width: 576px) {
        .hidden-sm-up {
            display: none !important;
        }
    }

    .fab {
        contain: layout;
    }
    
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
}
