page-store {
  .toolbar-md {
    min-height: 51px;
  }
}

.custom-popover .popover-content {
  width: 50%;
}

@media (max-width: 1024px) {
  .custom-popover .popover-content {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .custom-popover .popover-content {
    width: 50%;
  }
}
