<ion-split-pane>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">
    <ion-header>
      <ion-toolbar>

        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right no-padding>
          <button ion-button icon-only right no-padding>
            <img alt="logo" height="40" src="assets/img/medx-logo.png">
          </button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">
      <ion-list style="padding-top: 3px">
        <button ion-item menuClose *ngFor="let p of appPages" (tap)="openPage(p)" [color]="isActive(p,'light')">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          <p *ngIf="lang == 'ar'" ion-text [color]="isActive(p)" translate>{{p.titleAr}}</p>
          <p *ngIf="lang == 'en'" ion-text [color]="isActive(p)" translate>{{p.titleEn}}</p>
        </button>

        <ion-item *ngIf="lang == 'en'"  (tap)="changLang('ar')" translate="yes">{{'menu.change'}}</ion-item>
        <ion-item *ngIf="lang == 'ar'"  (tap)="changLang('en')" translate="yes">{{'menu.change'}}</ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
