page-list-templates {
    .descr{
        overflow: auto;
        white-space: normal;
        font-size: 1.5rem
    
    }
    .golden{
        color: gold;
    }
    ion-col{
        white-space: normal;
}
    }
    
