<!--
  Generated template for the ListTemplatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>list-templates</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="searchterm" (ionInput)="search()" placeholder="Search" ></ion-searchbar>
    <ion-item-group>
        <ion-item-divider sticky>
          <ion-row>
            <ion-col col-2>
              Name
            </ion-col>
            <ion-col col-7>
                Discription
              </ion-col>
              <ion-col col-2>
                  Created By
                </ion-col>
                <!--
                <ion-col col-1>
                    <ion-icon name="star" class="golden"></ion-icon>
                  </ion-col>
                  -->
          </ion-row>
        </ion-item-divider>
        <div ngIF="Ready">
        <ion-item *ngFor="let item of viewList" (click)="openPage(item)">
            <ion-row>
                <ion-col col-2>
                  {{item.name}}
                </ion-col>
                <ion-col class="descr" col-7>
                    {{item.description}}
                  </ion-col>
                  <ion-col col-2>
                     {{item.auther}} 
                    </ion-col>
                    <!--
                    <ion-col col-1>
                        <ion-icon name="star" class="golden" *ngIf="item.fav"></ion-icon>
                        <ion-icon name="star-outline" *ngIf="!item.fav"></ion-icon>
                      </ion-col>
                      -->
              </ion-row>
        </ion-item>
      </div>
      </ion-item-group>

</ion-content>
