<!--
  Generated template for the DemographicsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Demographics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <!--<ion-item *ngFor="let d of data" (click)="toggleDetails(d)">
      <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails">
        <ion-buttons end (click)="showPrompt()">
          <button ion-button clear icon-only>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
        <div text-center>Average Blood Pressure: 114/74</div>
        <canvas #lineCanvas></canvas>
      </div>
    </ion-item>-->
    <ion-buttons end (click)="showPrompt()">
      <button ion-button clear icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <div text-center>Average Blood Pressure: 114/74</div>
    <canvas #lineCanvas></canvas>

    <ion-card>
      <ion-card-header>
        Contact information
      </ion-card-header>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Name:
          </ion-col>
          <ion-col col-8>
            Roland Mendel
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            Address:
          </ion-col>
          <ion-col col-8>
            120 Hanover Sq. London
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            Phone number:
          </ion-col>
          <ion-col col-8>
            55577854
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            E-mail:
          </ion-col>
          <ion-col col-8>
            RolandMendel@gmail.com
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            Emergency contact:
          </ion-col>
          <ion-col col-8>
            Hanna Mendal
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            Emergency contact phone:
          </ion-col>
          <ion-col col-8>
            55577850
          </ion-col>
        </ion-row>
        <br>

      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Employment
      </ion-card-header>
      <hr>

      <ion-row>
        <ion-col col-4>
          Employer:
        </ion-col>
        <ion-col col-8>
          X hotel
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-4>
          Occupation:
        </ion-col>
        <ion-col col-8>
          Receptionist
        </ion-col>
      </ion-row>
      <br>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Vitals
      </ion-card-header>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Date of Birth:
          </ion-col>
          <ion-col col-8>
            Aug 21 1980
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-4>
            Blood Type:
          </ion-col>
          <ion-col col-8>
            A+
          </ion-col>
        </ion-row>
        <br>

        <ion-row>
          <ion-col col-4>
            Height:
          </ion-col>
          <ion-col col-8>
            179 cm
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-4>
            Weight:
          </ion-col>
          <ion-col col-8>
            76 kg
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-4>
            Body Mass Index:
          </ion-col>
          <ion-col col-8>
            23.7
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-4>
            Gender:
          </ion-col>
          <ion-col col-8>
            Male
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-4>
            Social state:
          </ion-col>
          <ion-col col-8>
            Married
          </ion-col>
        </ion-row>
        <br>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Medication Record
        <!--<button ion-button icon-only clear float-right>
          <ion-icon name="add"></ion-icon>
        </button>-->
      </ion-card-header>
      <hr>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-note>Start date</ion-note>
          </ion-col>

          <ion-col>
            <ion-note>Drug</ion-note>
          </ion-col>

          <ion-col>
            <ion-note>Dosage</ion-note>
          </ion-col>

          <ion-col>
            <ion-note>Frequency</ion-note>
          </ion-col>

          <ion-col>
            <ion-note>Duration</ion-note>
          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col>
            Aug 20 2016
          </ion-col>

          <ion-col>
            Augmentin
          </ion-col>

          <ion-col>
            1 g tab
          </ion-col>

          <ion-col>
            twice daily
          </ion-col>

          <ion-col>
            2 weeks
          </ion-col>
        </ion-row>
        <br>

      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Allergies
      </ion-card-header>
      <hr>

      <ion-list>
        <ion-item>- Peanuts</ion-item>
        <ion-item>- Shellfish</ion-item>
      </ion-list>

    </ion-card>
    <ion-card>
      <ion-card-header>
        Immunization
      </ion-card-header>
      <hr>

      <ion-list>
        <ion-item>item 1</ion-item>
        <ion-item>item 2</ion-item>
      </ion-list>
    </ion-card>

  </ion-list>

</ion-content>