page-demographics {

    .ion-content{
        background-color: #fdfdfd;
    }

    .data-item{
        line-height: 30px;

        :first-child {
            width:100px;
            margin-right: 10px;
            color: #747474;
            text-align: end;
        }
        
        :last-child {

        }

    }

    @media (max-width: 576px) {
        .hidden-sm-down {
          display: none !important;
        }
      }

    @media (min-width: 576px) {
        .hidden-sm-up {
            display: none !important;
        }
    }

    .fab {
        contain: layout;
    }
    
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
}
