<!--
  Generated template for the PrescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>prescription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines *ngIf="this.medications.meds.length>0">
    <ion-card *ngFor="let medication of  this.medications.meds;let i = index">
      <ion-card-header class="medHeader">
        <ion-row>
          <ion-col>
            <ion-label>medicines : {{this.medications.meds[i].json.medicationReference.refrance}}</ion-label>
          </ion-col>
          <ion-col *ngIf="!this.medications.meds[i].expand">
            <button ion-button  icon-only clear class="headerButton" (tap)="expand(0,i)">
              <ion-icon color="primary" class="headerIcon" name="arrow-dropleft"></ion-icon>
            </button>
          </ion-col>
          <ion-col *ngIf="this.medications.meds[i].expand">
            <button ion-button  icon-only clear class="headerButton" (tap)="expand(0,i)">
              <ion-icon color="primary" class="headerIcon" name="arrow-dropdown"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-card-header>
      <div class="cardContent" *ngIf="this.medications.meds[i].expand">
        <ion-label color="primary" stacked>medicines name/ID</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.medicationReference.refrance" placeholder="medicines name/ID"></ion-input>
        <ion-label color="primary" stacked>method</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].method.display" placeholder="method"></ion-input>
        <ion-label color="primary" stacked>Instruction</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].patientInstruction" placeholder="Instruction"></ion-input>
        <ion-label color="primary" stacked>frequency</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].timing.repeat.frequency" placeholder="frequency"></ion-input>
        <ion-label color="primary" stacked>period</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].timing.repeat.period" placeholder="period"></ion-input>
        <ion-label color="primary" stacked>periodMax</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].timing.repeat.periodMax" placeholder="periodMax"></ion-input>
        <ion-label color="primary" stacked>periodUnit</ion-label>
        <ion-input [(ngModel)]="this.medications.meds[i].json.dosageInstruction[0].timing.repeat.periodUnit" placeholder="periodUnit"></ion-input>
        <button class="headerButton" ion-button icon-only clear (tap)="removeElement(0,i)">
                <ion-icon style="color: red" name="ios-trash-outline"></ion-icon>
              </button>
    </div>
      
    </ion-card>
  </ion-list>



<div class="submitButtonWrapper">
  <button ion-button (click)="submit()">Submit</button>
</div>



  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addElement(0)">
        <ion-label>medicines</ion-label>
        <ion-icon name="ios-create"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>
</ion-content>
