<!--
  Generated template for the OfficeVisitsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Medical Records</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-searchbar></ion-searchbar>
    <div *ngIf="hasRecords">
      <ion-list no-lines *ngIf="this.medications.meds.length>0">
        <ion-card *ngFor="let medication of  this.medications.meds;let j = index">

          <ion-card-header no-padding class="medHeader" (tap)="expand(0,j)">
            <button ion-item [color]="this.medications.meds[j].expand ? 'primary' : 'light'">
              <div item-end>
                <ion-icon name="ios-arrow-down" *ngIf="this.medications.meds[j].expand"></ion-icon>
                <ion-icon name="ios-arrow-back" *ngIf="!this.medications.meds[j].expand"></ion-icon>
              </div>
              Medicine : {{this.medications.meds[j].json.medicationReference.refrance}}
            </button>
          </ion-card-header>

          <div padding *ngIf="this.medications.meds[j].expand" style="transition: visibility 0s, opacity 0.5s linear;">
            <ion-row class="data-item">
              <span>name/ID: </span>
              <span>{{this.medications.meds[j].json.medicationReference.refrance}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>method: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].method.display}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>instruction: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].patientInstruction}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>frequency: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].timing.repeat.frequency}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>period: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].timing.repeat.period}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>periodMax: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].timing.repeat.periodMax}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>periodUnit: </span>
              <span>{{this.medications.meds[j].json.dosageInstruction[0].timing.repeat.periodUnit}}</span>
            </ion-row>
          </div>

        </ion-card>
      </ion-list>

      <ion-list no-lines *ngIf="this.procedures.proc.length > 0">
        <ion-card *ngFor="let procedure of this.procedures.proc ; let j = index">

          <ion-card-header no-padding class="medHeader" (tap)="expand(1,j)">
            <button ion-item [color]="this.procedures.proc[j].expand ? 'primary' : 'light'">
              <div item-end>
                <ion-icon name="ios-arrow-down" *ngIf="this.procedures.proc[j].expand"></ion-icon>
                <ion-icon name="ios-arrow-back" *ngIf="!this.procedures.proc[j].expand"></ion-icon>
              </div>
              Surgery : {{this.procedures.proc[j].json.definition}}
            </button>
          </ion-card-header>

          <div padding *ngIf="this.procedures.proc[j].expand">
            <ion-row class="data-item">
              <span>ID: </span>
              <span>{{this.procedures.proc[j].json.identifier}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>Name: </span>
              <span>{{this.procedures.proc[j].json.definition}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>description: </span>
              <span>{{this.procedures.proc[j].json.context}}</span>
            </ion-row>

          </div>

        </ion-card>
      </ion-list>

      <ion-list no-lines *ngIf="this.test.tests.length > 0">
        <ion-card *ngFor="let t of this.test.tests ; let j = index">

          <ion-card-header no-padding class="medHeader" (tap)="expand(2,j)">
            <button ion-item [color]="this.test.tests[j].expand ? 'primary' : 'light'">
              <div item-end>
                <ion-icon name="ios-arrow-down" *ngIf="this.test.tests[j].expand"></ion-icon>
                <ion-icon name="ios-arrow-back" *ngIf="!this.test.tests[j].expand"></ion-icon>
              </div>
              Test : {{this.test.tests[j].json.definition}}
            </button>
          </ion-card-header>

          <div padding *ngIf="this.test.tests[j].expand">
            <ion-row class="data-item">
              <span>ID: </span>
              <span>{{this.test.tests[j].json.identifier}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>Name: </span>
              <span>{{this.test.tests[j].json.definition}}</span>
            </ion-row>
            <ion-row class="data-item">
              <span>Description: </span>
              <span>{{this.test.tests[j].json.context}}</span>
            </ion-row>
          </div>




        </ion-card>
      </ion-list>


    </div>


  </ion-list>

</ion-content>
